<div class="background-container-gray">
    <div class="large-content-wrapper">
        <div class="grid-container">
            <div class="grid-item-left">
                @if(isAdmin){<p class="link font-weight-bold clickable" routerLink="/settings">Einstellungen</p>}
            </div>
            <div class="grid-item-center">
                <img class="social-media-image" src="images/facebook.png" routerLink="">
                <img class="social-media-image" src="images/linkedin.png" routerLink="">
                <img class="social-media-image" src="images/xing.png" routerLink="">
            </div>
            <div class="grid-item-right">
                <p class="link font-weight-bold">Impressum</p>
                <p class="link font-weight-bold">Datenschutz</p>
            </div>
        </div>
    </div>
</div>
