.menu-grid-container {
    display: grid;
    grid-template-columns: 225px 225px 225px 825px;
    margin-top: 75px;
    margin-bottom: 75px;
    gap: 0px;
}

.active-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    border: 1px solid #D5D5D5;
    border-bottom: 0px;
    box-sizing: border-box;
}

.inactive-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid #D5D5D5;
    box-sizing: border-box;
}

.posts-grid-container {
    display: grid;
    grid-template-columns: 990px 450px;
    margin-top: 75px;
    margin-bottom: 100px;
    gap: 60px;
}

.posts-container {
    box-sizing: border-box;
    margin-top: -15px;
}

.post-grid-container {
    display: grid;
    grid-template-columns: 150px 825px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 15px;
    border-bottom: 1px solid #D5D5D5;
    box-sizing: border-box;
}

.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
}

.voting-counter-container-gray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 150px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
}

.voting-counter-container-green {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 150px;
    border: 1px solid #44B556;
    box-sizing: border-box;
}

.vote-button{
    width: 120px;
    margin: 0px;
    margin-top: 7px;
    font-weight: normal;
}

.post-container {
    position: relative;
    box-sizing: border-box;
}

.post-info-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-items: center;
    justify-content: start;
    height: 25px;
}

.date-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.comment-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 8px;
}

.lock-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.posts-menu-container {
    border: 1px solid #D5D5D5;
    padding: 30px;
    box-sizing: border-box;
    height: fit-content;
}

.sorting-container {
    padding-top: 40px;
    margin-bottom: 0px;
}

.filter-container {
    padding-top: 20px;
}

.menu-items-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 35px;
}

.menu-item-unchecked{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 35px;
    padding-left: 15px;
    color: #1473E6;
}

.menu-item-checked{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #1473E6;
    color: #FFFFFF;
}

.close-image{
    height: 15px;
    width: 15px;
}